# Logistic Regression

Its a regression. y=mx+C. But it introduces (ln or exp) to calculate the probability of certain event. 

ln(p/[1-p]) = mx+C

or

p = exp(mx+c)/[exp(mx+c)+1] (also known as sigmoid function)


Why use ln. Because exp(mx+C) will always larger or eq to 0
Why use p/[1-p]. The value is always smaller than 1

### Leaf classification

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('seaborn')
import sklearn

In [10]:
train_pre = pd.read_csv('train.csv', index_col=0)
test_pre= pd.read_csv('test.csv', index_col=0)

In [11]:
print(train_pre.columns)
print(test_pre.columns)

Index(['species', 'margin1', 'margin2', 'margin3', 'margin4', 'margin5',
       'margin6', 'margin7', 'margin8', 'margin9',
       ...
       'texture55', 'texture56', 'texture57', 'texture58', 'texture59',
       'texture60', 'texture61', 'texture62', 'texture63', 'texture64'],
      dtype='object', length=193)
Index(['margin1', 'margin2', 'margin3', 'margin4', 'margin5', 'margin6',
       'margin7', 'margin8', 'margin9', 'margin10',
       ...
       'texture55', 'texture56', 'texture57', 'texture58', 'texture59',
       'texture60', 'texture61', 'texture62', 'texture63', 'texture64'],
      dtype='object', length=192)

In [ ]:
train_pre.drop()

In [58]:
# Encoding each classes
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
def encode (train):
    enc = LabelEncoder()
    bar = train.drop(labels = 'species',axis=1)
    X_train, X_val, y_train, y_val = train_test_split(bar,train['species'],stratify=train['species'])
    enc.fit(y_train)
    y_train = enc.transform(y_train)
    y_val = enc.transform(y_val)
    classes = list(enc.classes_)

    return X_train, X_val, y_train, y_val, classes ,enc

X_train, X_val, y_train, y_val, classes, enc = encode(train_pre)

In [34]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

In [53]:
# Not bad for validation score
scal = StandardScaler()
log = LogisticRegression()
pipe = Pipeline([('scalar',scal),('logistic',log)])

pipe.fit(X_train, y_train)
pipe.score(X_val, y_val)

0.97983870967741937

In [60]:
X_test = test_pre
# To predict the labels 
y_pred = pipe.predict(X_test)

data = {'Label':y_pred,'Classes':enc.inverse_transform(y_pred)}
test_df = pd.DataFrame(data=data,index = X_test.index)
test_df.head(5)

              Classes  Label
id
4   Quercus_Agrifolia     51
7      Quercus_Afares     50
9     Acer_Circinatum      1
12    Castanea_Sativa     19
13      Alnus_Viridis     14

In [68]:
# To predict the probability of each class
y_pred_proba = pipe.predict_proba(X_test)
test_df = pd.DataFrame(data=y_pred_proba,columns=classes,index= X_test.index)
test_df.head(5)

,Acer_Capillipes,Acer_Circinatum,Acer_Mono,Acer_Opalus,Acer_Palmatum,Acer_Pictum,Acer_Platanoids,Acer_Rubrum,Acer_Rufinerve,Acer_Saccharinum,...,Salix_Fragilis,Salix_Intergra,Sorbus_Aria,Tilia_Oliveri,Tilia_Platyphyllos,Tilia_Tomentosa,Ulmus_Bergmanniana,Viburnum_Tinus,Viburnum_x_Rhytidophylloides,Zelkova_Serrata
id,,,,,,,,,,,,,,,,,,,,,
4,0.003959,0.005617,0.001963,0.023968,0.003164,0.000821,0.003018,0.008735,0.003661,0.004160,...,0.001905,0.034584,0.002813,0.001753,0.003402,0.000905,0.002139,0.001143,0.005927,0.000934
7,0.001324,0.001256,0.002691,0.005277,0.004569,0.001409,0.041883,0.008455,0.003252,0.005841,...,0.004117,0.002583,0.003134,0.000657,0.000559,0.004559,0.003142,0.031553,0.003580,0.006551
9,0.000871,0.401982,0.008279,0.010597,0.038259,0.005678,0.002347,0.006885,0.003398,0.010615,...,0.007075,0.004540,0.001737,0.001067,0.004288,0.002510,0.003495,0.002453,0.006081,0.018743
12,0.001036,0.029334,0.003563,0.002934,0.005118,0.000882,0.002145,0.001936,0.001315,0.007703,...,0.003135,0.002407,0.003127,0.004856,0.007239,0.001564,0.049814,0.001741,0.003056,0.021641
13,0.004013,0.003455,0.004281,0.000320,0.002539,0.001359,0.005934,0.002288,0.006103,0.007549,...,0.004248,0.005218,0.005297,0.002330,0.011667,0.009150,0.004699,0.019988,0.012298,0.002704

In [77]:
# Double check whether the third item is correctly classified
test_df.iloc[2,:].idxmax()

'Acer_Circinatum'